
/* Selector bar with links  */
.bar {
  background: #C44D33;
  color: #999;
  width: 100%;
  height: 10%;
  align-content: center;
  text-align: center;
  /* padding-top: 5rem; */
  padding-left: 0px;
  margin-bottom: 0;
  display: flex;
}

.chunk {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 0px;
  background:#222;
  width: 18%;
}

.chunk:hover {
  transform: translate(5%, -10%);
  transition: all .3s linear;
  color: #C44D33;
}

a {
  color: #999;
}
/* unvisited link */
a:link {
  color: #999;
}

/* visited link */
a:visited {
  color: #999;
}

/* mouse over link */
a:hover {
  color: #C44D33;
}

/* selected link */
a:active {
  color: #999;
}

@media only screen and (max-width: 750px) {
  .bar {
      display: block;
      margin-top: 5rem;
  }
  .chunk {
      width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .bar {
      margin-top: 17rem;
  }
}